/**
 * Bento Modern theme for Wijmo Grid
 *  v.0.1.1
 * Maintained by Aaron Mendez
 */
/**
 * Wijmo Grid Base
 */
.wijmo-wijgrid {
  border: none;
}
.wijmo-wijgrid.ui-widget {
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-weight: normal;
}
.wijmo-wijgrid .wijmo-wijpager {
  display: none;
}
.wijmo-wijgrid .wijgridth {
  background-image: none;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  text-align: left;
  vertical-align: top;
}
.wijmo-wijgrid .wijgridth:last-child {
  border-right: none;
}
.wijmo-wijgrid .wijgridth.ui-state-default {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wijmo-wijgrid .wijgridth.ui-draggable {
  cursor: move;
}
.wijmo-wijgrid .wijgridth:hover {
  background-color: #ffffff;
}
.wijmo-wijgrid .wijgridth .wijmo-wijgrid-innercell {
  min-height: 41px;
  padding: 0;
}
.wijmo-wijgrid .wijgridth .wijmo-wijgrid-innercell .wijmo-wijgrid-headertext {
  cursor: move;
  font-size: 12px;
  height: 19px;
  line-height: 15px;
  padding: 13px 0px 9px 10px;
  text-shadow: none;
  text-transform: uppercase;
  height: 100%;
  display: table-cell;
}
.wijmo-wijgrid .wijgridth .wijmo-wijgrid-innercell .wijmo-wijgrid-sort-icon {
  background: none;
  color: #212121;
  display: block;
  font-family: 'bento-icomoon';
  font-size: 12px;
  font-weight: normal;
  text-indent: 0px;
  text-shadow: none;
  border-radius: 0;
  height: 16px;
  line-height: 16px;
  width: 16px;
  display: table-cell;
  position: relative;
  padding-left: 10px;
}
.wijmo-wijgrid .wijgridth .wijmo-wijgrid-innercell .wijmo-wijgrid-sort-icon.ui-icon-triangle-1-n:after {
  content: '\e647';
  margin-right: 10px;
}
.wijmo-wijgrid .wijgridth .wijmo-wijgrid-innercell .wijmo-wijgrid-sort-icon.ui-icon-triangle-1-s:after {
  content: '\e638';
  margin-right: 10px;
}
.wijmo-wijgrid tbody {
  background-color: #ffffff;
  font-size: 14px;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row {
  border-color: #d9d9d9;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row.wijmo-wijgrid-alternatingrow {
  background: none;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row.ui-state-hover {
  background: #d4ebf4;
  border-color: #d9d9d9;
  color: inherit;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row:first-child .wijgridtd {
  border-top: none;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd {
  -webkit-box-shadow: none;
  border-right: 1px solid #d9d9d9;
  box-shadow: none;
  height: 20px;
  line-height: 20px;
  padding: 7px 20px 8px 10px;
  text-shadow: none;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd:last-child {
  border-right: none;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.ui-state-highlight {
  background: #d4ebf4;
  border-color: inherit;
  color: inherit;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit {
  padding-top: 4px;
  padding-bottom: 4px;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"] {
  display: block;
  width: 100%;
  height: 27px;
  padding: 0 6px;
  font-size: 13px;
  font-weight: normal;
  line-height: 27px;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"]:focus {
  border-color: #3c3e45;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60, 62, 69, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(60, 62, 69, 0.6);
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"]:focus {
  border-color: #3c3e45;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"]::-moz-placeholder {
  color: #c3c3ca;
  opacity: 1;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"]:-ms-input-placeholder {
  color: #c3c3ca;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"]::-webkit-input-placeholder {
  color: #c3c3ca;
}
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"][disabled],
.wijmo-wijgrid tbody tr.wijmo-wijgrid-row .wijgridtd.wijmo-wijgrid-cell-edit .wijgridinput[type="text"][readonly] {
  cursor: default;
  background-color: #eeeeee;
  opacity: 1;
}
/**
 * Wijmo Grid Column Filters
 */
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijgridtd {
  background: none;
  background-color: white;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 8px 20px 8px 10px;
  text-shadow: none;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijgridtd:last-child {
  border-right: none;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter {
  border: 1px solid #cccccc !important;
  border-collapse: separate;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijinput {
  box-shadow: none;
  text-shadow: none;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijinput-wrapper {
  padding: 0;
  text-shadow: none;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter-input {
  border-radius: 0;
  color: #212121;
  font-weight: normal;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 6px;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter-input::-ms-clear {
  display: none !important;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter-trigger {
  background: #ffffff;
  border: none;
  border-right-width: 0;
  border-left: 1px solid #cccccc;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter-trigger:hover {
  background: #ffffff;
  box-shadow: none;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijinput-trigger.ui-state-default.ui-corner-right {
  background: none;
  border: none;
  right: 5px;
  top: 0;
  width: 20px;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijinput-trigger.ui-state-default.ui-corner-right .ui-icon.ui-icon-triangle-1-s {
  background: none;
  border-radius: 0;
  bottom: 0;
  color: #212121;
  font-family: 'bento-icomoon';
  font-size: 18px;
  font-weight: normal;
  height: 100%;
  line-height: 28px;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  top: 0;
  width: 18px;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijinput-trigger.ui-state-default.ui-corner-right .ui-icon.ui-icon-triangle-1-s:after {
  content: '\e62e';
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter-trigger.ui-corner-right .ui-icon.ui-icon-triangle-1-s {
  background: none;
  border-radius: 0;
  color: #212121;
  font-family: 'bento-icomoon';
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter-trigger.ui-corner-right .ui-icon.ui-icon-triangle-1-s:after {
  content: '\e630';
}
.wijmo-wijgrid .wijmo-wijgrid-filterrow .wijmo-wijgrid-filter-trigger.ui-corner-right:hover .ui-icon.ui-icon-triangle-1-s {
  font-weight: normal;
}
.wijmo-wijgrid-filterlist {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  width: 180px;
}
.wijmo-wijgrid-filterlist .wijmo-wijsuperpanel-vbarcontainer {
  background: #ffffff;
  box-shadow: none;
}
.wijmo-wijgrid-filterlist .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-handle {
  background: #ffffff;
  border: solid 1px #d9d9d9;
  border-radius: 0;
  box-shadow: none;
}
.wijmo-wijgrid-filterlist .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-vbar-buttontop,
.wijmo-wijgrid-filterlist .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-vbar-buttonbottom {
  background: none;
}
.wijmo-wijgrid-filterlist .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-vbar-buttontop.ui-state-hover,
.wijmo-wijgrid-filterlist .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-vbar-buttonbottom.ui-state-hover {
  background: none;
}
.wijmo-wijgrid-filterlist .wijmo-wijsuperpanel-vbarcontainer:hover .wijmo-wijsuperpanel-handle {
  background: #ffffff;
}
.wijmo-wijgrid-filterlist .wijmo-wijlist-ul {
  padding: 5px 0;
}
.wijmo-wijgrid-filterlist .wijmo-wijlist-ul .wijmo-wijlist-item {
  color: #212121;
  font-size: 14px;
  text-shadow: none;
}
.wijmo-wijgrid-filterlist .wijmo-wijlist-ul .wijmo-wijlist-item:hover,
.wijmo-wijgrid-filterlist .wijmo-wijlist-ul .wijmo-wijlist-item.wijmo-wijlist-item-selected {
  background: #d4ebf4;
}
/**
 * Wijmo Grid Row Grouping
 */
.wijmo-wijgrid .wijmo-wijgrid-group-area {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  color: #212121;
}
.wijmo-wijgrid .wijmo-wijgrid-group-area.wijmo-wijgrid-group-area-empty {
  height: auto;
  line-height: 44px;
  padding-left: 10px !important;
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button {
  background: white;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #212121;
  font-size: 12px;
  line-height: 22px;
  padding-right: 33px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button .wijmo-wijgrid-group-button-sort {
  background-image: none;
  color: #212121;
  font-family: 'bento-icomoon';
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
  margin: 0 8px 0 0;
  text-indent: 0;
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button .wijmo-wijgrid-group-button-sort.ui-icon-triangle-1-n:after {
  content: '\e3b0';
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button .wijmo-wijgrid-group-button-sort.ui-icon-triangle-1-s:after {
  content: '\e3b2';
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button .wijmo-wijgrid-group-button-close {
  background-image: none;
  background: white;
  border: 1px solid #cccccc;
  right: -13px;
  top: -4px;
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button .wijmo-wijgrid-group-button-close .ui-icon-close {
  background-image: none;
  color: #212121;
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button .wijmo-wijgrid-group-button-close .ui-icon-close:after {
  content: '\e014';
  margin-right: -1px;
}
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button:hover,
.wijmo-wijgrid .wijmo-wijgrid-group-area .wijmo-wijgrid-group-button:hover .wijmo-wijgrid-group-button-close {
  border: 1px solid #d9d9d9;
  text-decoration: none;
}
.wijmo-wijgrid .wijmo-wijgrid-grouptogglebtn {
  -webkit-font-smoothing: antialiased;
  background-color: #212121;
  background-image: none;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-right: 7px;
  margin-top: 2px;
  padding-top: 3px;
  position: relative;
  text-indent: 0;
  top: 1px;
}
.wijmo-wijgrid .wijmo-wijgrid-grouptogglebtn.ui-icon-triangle-1-e:after {
  margin-left: -5px;
  content: "\2b";
}
.wijmo-wijgrid .wijmo-wijgrid-grouptogglebtn.ui-icon-triangle-1-se:after {
  margin-left: -5px;
  content: '\2212';
}
.wijmo-wijgrid-group-button.ui-draggable-dragging {
  opacity: .7;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  color: #212121;
  text-shadow: none;
}
.wijmo-wijgrid-group-button.ui-draggable-dragging .wijmo-wijgrid-group-button-sort {
  background-image: none;
  color: #212121;
  font-family: 'bento-icomoon';
  font-size: 12px;
  margin-left: 10px;
  text-indent: 0;
}
.wijmo-wijgrid-group-button.ui-draggable-dragging .wijmo-wijgrid-group-button-sort.ui-icon-triangle-1-n:after {
  content: '\e3b0';
}
.wijmo-wijgrid-group-button.ui-draggable-dragging .wijmo-wijgrid-group-button-sort.ui-icon-triangle-1-s:after {
  content: '\e3b2';
}
.wijmo-wijgrid-group-button.ui-draggable-dragging .wijmo-wijgrid-group-button-close {
  background-image: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.wijmo-wijgrid-group-button.ui-draggable-dragging .wijmo-wijgrid-group-button-close .ui-icon-close {
  background-image: none;
  color: #212121;
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-indent: 0;
}
.wijmo-wijgrid-group-button.ui-draggable-dragging .wijmo-wijgrid-group-button-close .ui-icon-close:after {
  content: '\e014';
}
/**
 * Wijmo Grid Calendar
 */
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] {
  background: none;
  border: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] > tbody > tr > td > div.ui-tabs.wijmo-wijtabs.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.ui-tabs-panel.ui-tabs-top {
  background: transparent;
  overflow: visible !important;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar {
  width: auto;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: white;
  background-clip: padding-box;
  font-family: KnowledgeRegular;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar[style*="margin"] {
  margin: 0 -1px 20px !important;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header {
  border: none;
  height: 44px;
  padding: 0;
  box-shadow: none;
  background: none;
  text-shadow: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton {
  min-width: 44px!important;
  height: 44px;
  padding: 0;
  color: #6d6d78;
  line-height: 100%;
  font-size: 14px;
  vertical-align: top;
  border: none;
  background: #e6e7e9;
  font-weight: 700;
  top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'bento-icomoon';
  font-style: normal;
  font-weight: normal;
  line-height: 44px;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton .ui-icon {
  background: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton.ui-datepicker-prev {
  left: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton.ui-datepicker-prev:after {
  content: "\e641";
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton.ui-datepicker-next {
  right: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton.ui-datepicker-next:after {
  content: "\e646";
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton:hover {
  box-shadow: none;
  color: white;
  background-color: #37383d;
  text-decoration: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-navbutton:focus {
  text-decoration: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-title {
  background: #e6e7e9;
  color: #6d6d78;
  height: 44px;
  line-height: 44px;
  text-transform: uppercase;
  text-shadow: none;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 50px;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header .wijmo-wijcalendar-title:hover {
  color: white;
  background-color: #37383d;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table {
  margin-bottom: 0;
  width: auto;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table thead {
  border: none;
  color: #6d6d78;
  text-shadow: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tbody {
  border: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table th[class*="ui-datepicker-week"][role="columnheader"] {
  padding: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table th[class*="ui-datepicker-week"][role="columnheader"] span {
  display: block;
  font-size: 12px;
  line-height: 17px;
  padding-top: 3px;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype] {
  border: 0;
  padding: 2px;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype] a {
  border: 0;
  padding: 0;
  height: 44px;
  width: 46px;
  line-height: 44px;
  text-align: center;
  text-shadow: none;
  color: #6d6d78;
  font-weight: bold;
  font-size: 14px;
  background-color: #e6e7e9;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype] a.ui-priority-secondary {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #d9d9d9;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype] a.ui-state-hover {
  background: #37383d;
  box-shadow: none;
  color: white;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype].ui-datepicker-today a {
  box-shadow: none;
  border: 1px solid #37383d;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype].ui-datepicker-current-day a {
  background: #ff8000;
  border: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype]:first-child {
  padding-left: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype]:last-child {
  padding-right: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr:first-child td {
  padding-top: 4px;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr:last-child td {
  padding-bottom: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid {
  border-left: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tbody {
  border-left: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr .ui-datepicker-week-day[role="gridcell"] {
  background-color: #ffffff;
  border: 2px solid white;
  box-shadow: none;
  color: #6d6d78;
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr .ui-datepicker-week-day[role="gridcell"]:first-child {
  border-left-width: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr .ui-datepicker-week-day[role="gridcell"]:last-child {
  border-right-width: 0;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr .ui-datepicker-week-day[role="gridcell"]:hover,
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr .ui-datepicker-week-day[role="gridcell"].ui-state-active {
  background-color: #37383d;
  color: white;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr .ui-datepicker-week-day[role="gridcell"] a {
  text-shadow: none;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr:first-child .ui-datepicker-week-day[role="gridcell"] {
  border-top-width: 4px;
}
table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-mygrid tr:last-child .ui-datepicker-week-day[role="gridcell"] {
  border-bottom-width: 0;
}
.force-desktop table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-table tr [daytype] a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 12px;
}
.force-desktop table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .ui-datepicker-header {
  height: 30px;
}
.force-desktop table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-navbutton {
  min-width: 30px!important;
  width: 30px !important;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
}
.force-desktop table.ui-widget-content.ui-corner-all[borderwidth="0px"][cursor="default"][style*="absolute"] .wijmo-wijcalendar .wijmo-wijcalendar-title {
  color: #6d6d78;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 0;
  left: 35px;
  right: 35px;
}
