/**
 * Bento Modern theme for Wijmo FlexGrid
 *  v.0.1.0
 * Maintained by Yashraj Jayaraj Digge, Joe Huang and Aaron Mendez
 */
/**
 * FlexGrid Base
 */
/*-------------------------------------------------------------------------*/
/* create a 'custom-flex-grid' theme for the FlexGrid */
#wj-wm {
  display: none;
}
[wj-filter] {
  width: 36px;
  height: 30px;
  margin: -4px -4px 0 0;
  border: 1px solid #d9d9d9;
  opacity: 1.0 !important;
  background: #fff;
  border-radius: 4px;
  float: right;
  cursor: pointer;
  padding: 0px 4px;
}
[wj-filter] .filter-icon:after {
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  font-size: 17px;
  content: "\e3b6";
}
[wj-filter].active .filter-icon {
  left: 2px;
}
[wj-filter].active .filter-icon:after {
  font-size: 19px;
  content: "\e612";
}
[wj-filter] .filter-icon {
  top: 4px;
  left: 4px;
  position: relative;
  border: none;
  font-family: bento-icomoon;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.multi-select[class*=" wj-sort-"],
.wj-glyph-down,
.wj-glyph-up {
  width: 1.5em;
  height: 1em;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  opacity: 1;
  font-size: .85em;
  font-family: "bento-icomoon";
}
.multi-select.wj-sort-asc:after,
.wj-glyph-up:after {
  content: '\e3b0';
}
.multi-select.wj-sort-desc:after,
.wj-glyph-down:after {
  content: '\e3b2';
}
.wj-header.has-filter {
  text-align: left !important;
}
.wj-header.has-filter[class*=" wj-sort-"] .filter-icon {
  top: 6px;
  left: 4px;
}
.wj-header.has-filter.wj-sort-asc .filter-icon:after {
  font-size: 18px;
  content: "\e631";
}
.wj-header.has-filter.wj-sort-desc .filter-icon:after {
  font-size: 18px;
  content: "\e630";
}
.wj-header.has-filter[class*=" wj-sort-"] > .active .filter-icon {
  top: 6px;
  left: 4px;
}
.wj-header.has-filter.wj-sort-asc > .active .filter-icon:after {
  font-size: 17px;
  content: "\e611";
}
.wj-header.has-filter.wj-sort-desc > .active .filter-icon:after {
  font-size: 17px;
  content: "\e614";
}
.wj-header.has-filter .wj-glyph-down,
.wj-header.has-filter .wj-glyph-up {
  display: none;
}
.wj-columnfiltereditor {
  border-radius: 0px;
  padding: 0;
}
.wj-columnfiltereditor .filter.wj-control {
  margin: 0;
}
.wj-columnfiltereditor .filter-container {
  padding: 5px 10px;
}
.wj-columnfiltereditor .wj-listbox {
  border-radius: 0;
  border: none;
}
.wj-columnfiltereditor .wj-input-group-btn:last-child > .wj-btn {
  border-left: none;
}
.wj-columnfiltereditor .wj-state-selected {
  background: #f39518;
  color: #fff;
}
.wj-columnfiltereditor hr {
  margin: 0;
}
.wj-columnfiltereditor .btn-close {
  font-size: 20px;
  line-height: 20px;
  padding: 4px 10px;
  background: white;
  border-radius: 0;
}
.wj-columnfiltereditor .btn-close:hover {
  color: #fff;
  background: #f39518;
}
.wj-columnfiltereditor a[wj-part^="btn-"].btn-cf {
  margin: 0;
  background: white;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  width: 50%;
  text-align: left;
}
.wj-columnfiltereditor a[wj-part^="btn-dsc"].btn-cf {
  text-align: right;
}
.wj-columnfiltereditor a[wj-part^="btn-"].btn-cf:hover {
  background: #f39518;
  color: #fff;
}
.wj-columnfiltereditor label span {
  padding-left: 3px;
  font-weight: normal;
}
.wj-columnfiltereditor .btn-forms {
  padding: 10px;
}
.wj-columnfiltereditor a[wj-part="btn-apply"],
.wj-columnfiltereditor a[wj-part="btn-clear"] {
  line-height: 25px;
  margin: 0;
  margin-right: 10px;
  border: 1px solid;
  border-color: #c3c1c1;
  background-color: #ebebeb;
  border-radius: 3px;
}
.wj-columnfiltereditor a[wj-part="btn-apply"] {
  background: #f39518;
  color: #fff;
  border-color: #dc820b;
}
.wj-columnfiltereditor a[wj-part="btn-apply"]:hover {
  background: #f39518;
  border-color: #a26008;
}
.wj-dropdown-panel {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.wj-grouppanel {
  padding: 0px;
  height: auto;
  line-height: 44px;
  padding-left: 10px;
  background-color: #ebebeb;
  border-bottom: 1px solid #b3b3b3;
}
.wj-grouppanel .wj-groupmarker {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #606060;
  font-size: 12px;
  line-height: 22px;
  padding-right: 14px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  margin-top: 4px;
}
.wj-grouppanel .wj-groupmarker > span.wj-glyph-down,
.wj-grouppanel .wj-groupmarker > span.wj-glyph-up {
  margin-left: .25em;
}
.wj-grouppanel .wj-groupmarker [wj-remove] {
  background-image: none;
  color: #606060;
  font-family: 'Glyphicons Halflings';
  font-size: 0;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  text-shadow: none;
}
.wj-grouppanel .wj-groupmarker [wj-remove]:after {
  position: relative;
  margin-left: 10px;
  top: 2px;
  font-size: 12px;
  content: '\e014';
}
.wj-topleft .wj-cell.wj-header,
.wj-rowheaders .wj-cell.wj-header {
  border-right: 1px solid #c0c0c0;
}
.bento-flex-grid {
  border: 0px solid #000000;
  outline: none;
}
.bento-flex-grid div[wj-part="sz"] {
  background-color: red;
}
.bento-flex-grid .select {
  background-color: #f39518;
  color: white !important;
}
.bento-flex-grid div[wj-part="ch"] {
  background-color: #ebebeb;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}
.bento-flex-grid .wj-glyph-filter {
  font-size: 1.1em;
}
.bento-flex-grid .wj-header.wj-cell {
  background-color: #ebebeb;
  color: #4f4f4f;
  font-size: 0.85em;
  line-height: 2em;
  padding: 9px;
}
.bento-flex-grid .wj-header.wj-cell input:not([type='checkbox']) {
  color: #606060;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
  border-radius: 0;
}
.bento-flex-grid .wj-header.wj-cell .wj-input input {
  border: none;
}
.bento-flex-grid .wj-header.wj-cell .wj-dropdown {
  height: 30px;
}
.bento-flex-grid .wj-cell {
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 0;
  background-color: #fff;
  color: #4f4f4f;
  padding: 10px;
}
.bento-flex-grid .wj-cell span.glyphicon {
  cursor: pointer;
  margin-right: 15px;
}
.bento-flex-grid .wj-cell > span.wj-glyph-down,
.bento-flex-grid .wj-cell > span.wj-glyph-up {
  margin-left: .25em;
}
.bento-flex-grid .wj-cell[style*="left: 0"] {
  border-left: 0;
}
.bento-flex-grid .wj-state-selected {
  background: #fbf0df;
  color: #606060;
}
.bento-flex-grid .wj-state-multi-selected {
  background: #fbf0df;
  color: #606060;
}
.bento-flex-grid .bento-cell-selected {
  background: #fbf0df !important;
  color: #606060;
}
.bento-flex-grid .wj-grid-editor {
  padding: 10px;
  padding-left: 18.75%;
}
.bento-flex-grid .wj-frozen-row {
  border-bottom: 1px solid #666;
}
.bento-flex-grid .wj-frozen-col {
  border-right: 1px solid #666;
}
.bento-flex-grid .wj-header.wj-cell.hidden {
  display: none;
}
.bento-flex-grid .wj-header.wj-cell.bento-input-cell .wj-content {
  border-radius: 0;
}
.bento-flex-grid .wj-header.wj-cell.bento-input-cell > .wj-glyph-down,
.bento-flex-grid .wj-header.wj-cell.bento-input-cell > .wj-glyph-up {
  right: 2px;
  position: absolute;
}
.bento-flex-grid .wj-cell .wj-glyph-right,
.bento-flex-grid .wj-cell .wj-glyph-down-right {
  border: none;
  font-family: bento-icomoon;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
}
.bento-flex-grid .wj-cell .wj-glyph-down-right:after {
  content: "\e608";
}
.bento-flex-grid .wj-cell .wj-glyph-right:after {
  content: "\e60f";
}
.wj-flexgrid .wj-marker {
  background-color: #f39518;
}
.force-desktop .bento-flex-grid .wj-header.wj-cell {
  font-size: 0.85em;
  padding: 3px 10px;
}
.force-desktop .bento-flex-grid .wj-header.wj-cell input {
  height: 23px;
  line-height: 23px;
}
.force-desktop .bento-flex-grid .wj-header.wj-cell input[type=radio],
.force-desktop .bento-flex-grid .wj-header.wj-cell input[type=checkbox] {
  margin-top: 0px;
}
.force-desktop .bento-flex-grid .wj-header.wj-cell .wj-dropdown {
  height: 23px;
}
.force-desktop .bento-flex-grid .wj-header.wj-cell.bento-input-cell {
  padding: 2px;
}
.force-desktop .bento-flex-grid .wj-cell {
  padding: 4px 10px;
}
.force-desktop .bento-flex-grid .wj-grid-editor {
  padding: 5px;
  padding-left: 18.75%;
}
.force-desktop .bento-flex-grid .wj-input-group-btn:last-child > .wj-btn {
  padding-top: 0px;
}
.force-desktop .bento-flex-grid [wj-filter] {
  height: 25px;
  margin: -2px -9px 0 0;
}
.force-desktop .bento-flex-grid [wj-filter] .filter-icon {
  top: 2px;
}
.force-desktop .bento-flex-grid .wj-header.has-filter[class*=" wj-sort-"] .filter-icon {
  top: 2px;
}
.force-desktop .bento-flex-grid .wj-header.has-filter[class*=" wj-sort-"] > .active .filter-icon {
  top: 3px;
}
.ios .btn-column-group,
.android .btn-column-group {
  display: none;
}
/**
 * Yash's prototyping
 */
