body {
    background-color: white;
    font-family: "Open Sans", Arial, sans-serif;
}

.container-fluid{
    padding:0;
}

.sign-in-form{
    padding: 80px;
}

@import 'dashboard/boDashboard.scss';
@import 'framework/boFramework.scss';
@import 'menu/boMenu.scss';