<div style="background-color:white; padding:10px;">
    <h2>Wijmo Dashboard</h2>
    <!-- this is the grid -->

    <div class="row">
        <div class="col-md-3">
            <div>
                <label>Non-Editable</label>
                <wj-combo-box items-source="vm.flowers" is-editable="false" display-member-path="name" ng-model="vm.flowerName">
                </wj-combo-box>
            </div>
            <div>
                <label>Editable</label>
                <wj-combo-box items-source="vm.flowers" control="cboTest" display-member-path="name" ng-model="vm.flowerName" is-editable="true" text-changed="vm.cboTextChanged(sender, args)">
                </wj-combo-box>
                <div>
                    {{vm.flowerName}}
                    {{vm.selectedFlower}}
                    <button class="wj-btn" ng-click="vm.testButtonClicked()">Test Button</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="theInputTime"></div>
            <wj-input-time value="theDate" format="h:mm tt" min="09:00" max="17:00" step="15"></wj-input-time>
        </div>
        <div class="col-md-3">
            <div>
                <label>InputTime with mask</label>
                <wj-input-time value="maskToday"
                               format="hh:mm:ss"
                               is-editable="true"
                               step="15"
                               mask="00:00:00"
                               title="Mask:  00:00:00">
                </wj-input-time>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <wj-flex-grid items-source="vm.data" control="flex">
                <wj-flex-grid-column header="Type 1" binding="flower">
                    <wj-combo-box items-source="vm.flowers" display-member-path="name" is-editable="true">
                    </wj-combo-box>
                </wj-flex-grid-column>
                <wj-flex-grid-column header="Type 2" binding="flower">
                    <wj-combo-box items-source="vm.flowers" display-member-path="name" is-editable="true">
                    </wj-combo-box>
                </wj-flex-grid-column>
                <wj-flex-grid-column header="Type 3" binding="flower">
                    <wj-combo-box items-source="vm.flowers" display-member-path="name" is-editable="true">
                    </wj-combo-box>
                </wj-flex-grid-column>
                <wj-flex-grid-column header="Type 4" binding="flower">
                    <wj-combo-box items-source="vm.flowers" display-member-path="name" is-editable="true">
                    </wj-combo-box>
                </wj-flex-grid-column>
                <wj-flex-grid-column header="Type 5" binding="flower">
                    <wj-combo-box items-source="vm.flowers" display-member-path="name" is-editable="true">
                    </wj-combo-box>
                </wj-flex-grid-column>
                <wj-flex-grid-column header="ID" binding="id"></wj-flex-grid-column>
                <wj-flex-grid-column header="Order" binding="order"></wj-flex-grid-column>
                <wj-flex-grid-column header="Date" binding="date"></wj-flex-grid-column>
                <wj-flex-grid-column header="Amount" binding="amount"
                     ng-style="{true:{color:'green'}, false:{color:'blue'}}[$item.amount > 2000]">
                </wj-flex-grid-column>
                <wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>
            </wj-flex-grid>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <wj-flex-grid items-source="vm.data" control="flex">
            </wj-flex-grid>
        </div>
        <div class="col-md-6">

        </div>
    </div>


</div>